<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Recibo de Comunidad</title>
    <!-- <link rel="stylesheet" href="css/owner_template_styles.css"> -->
</head>

<body>
    <div class="header">
        <div class="logo">A</div>
        <div>
            <div class="admin-info">
                Administración DEMO<br>
                Tel: 9 345 678<br>
                Email: demo@gestiondecomunidadAPP.com<br>
                Dirección: Calle Avenida de Madrid 123, Vigo
            </div>
        </div>
    </div>
    <div class="main-title">Recibo de Comunidad</div>

    <div class="section">
        <div class="row"><span class="label">ID Recibo:</span> <span>{id}</span></div>
        <div class="row"><span class="label">Fecha:</span> <span>{date}</span></div>
        <div class="row"><span class="label">ID Factura Comunidad:</span> <span>{invoiceId}</span></div>
        <div class="row"><span class="label">Propietario/>:</span> <span>{ownerName} {ownerSurname}</span></div>
        <div class="row"><span class="label">Cuenta Bancaria:</span> <span>{ownerBankAccount}</span></div>
        <div class="row"><span class="label">Comunidad:</span> <span>{communityName}</span></div>
        <div class="row"><span class="label">Coeficiente de participación:</span> <span>{coefficient}%</span></div>
        <div class="amount">Total a pagar: {amount} €</div>

    </div>

    <div class="footer">
        Este recibo será domiciliado entre los días 01 y 11 del correspondiente mes.<br>
        Si tiene cualquier duda contacte con la administración.
    </div>

    <div class="signature">
        <br><br>
        ________________________<br>
        Firma / Sello Administración
    </div>
</body>

</html>