<div class="storagerooms-container">
  <h2 class="storagerooms-title">Lista de Trasteros en Comunidad: {{ communityName }}</h2>

  <div class="storagerooms-table-wrapper">
    <table class="storagerooms-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Referencia Catastral</th>
          <th>Metros Cuadrados</th>
          <th>Número de Trastero</th>
          <th>Comunidad</th>
          <th>Propietario</th>
          <th>Coeficiente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let storageRoom of storageRooms; let i = index" [class.storagerooms-alt-row]="i % 2 === 1">
          <td>{{ storageRoom.id }}</td>
          <td>{{ storageRoom.cadastralReference }}</td>
          <td>{{ storageRoom.squareMeters }}</td>
          <td>{{ storageRoom.storageNumber }}</td>
          <td>{{ storageRoom.communityName }}</td>
          <td>{{ storageRoom.ownerName }}</td>
          <td>{{ storageRoom.coefficient }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
