<div class="storagerooms-list">
  <h2>Lista de Trasteros en Comunidad: {{ this.communityName }}</h2>

  <!-- Tabla de StorageRooms -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Referencia Catastral</th>
        <th>Metros Cuadrados</th>
        <th>Número de Trastero</th>
        <th>Comunidad</th>
        <th>Propietario</th>
        <th>Coeficiente</th>

      </tr>
    </thead>
    <tbody>
      <!-- Recorremos los StorageRooms y los mostramos en cada fila -->
      <tr *ngFor="let storageRoom of storageRooms">
        <td>{{ storageRoom.id }}</td>
        <td>{{ storageRoom.cadastralReference }}</td>
        <td>{{ storageRoom.squareMeters }}</td>
        <td>{{ storageRoom.storageNumber }}</td>
        <td>{{ storageRoom.communityName }}</td>
        <td>{{ storageRoom.ownerName }}</td>
        <td>{{ storageRoom.coefficient }}</td>
      </tr>
    </tbody>
  </table>
</div>
