<!-- HEADER + BOTÓN -->
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-0">Comunidades registradas</h2>
  <button class="btn btn-success" (click)="openModal('modalNewCommunity')">
    Añadir comunidad
  </button>
</div>

<!-- BUSCADOR -->
<div class="container py-4">
  <div class="mb-3">
    <input type="text" name="buscador" class="form-control" [(ngModel)]="filtro"
      placeholder="Buscar comunidad por calle...">
  </div>

  <!-- TABLA -->
  <table class="table table-hover">
    <thead class="table-primary">
      <tr>
        <th>Dirección</th>
        <th>Código Postal</th>
        <th>Nº Propiedades</th>
        <th>Más info</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let community of getFilteredCommunities()">
        <td>{{ community.address }}</td>
        <td>{{ community.postalCode }}</td>
        <td>{{ community.propertiesCount }}</td>
        <td>
          <button class="btn btn-sm btn-outline-info me-1" (click)="verComunidad(community.id)">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- MODAL DE NUEVA COMUNIDAD -->
<div class="modal fade" id="modalNewCommunity" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Nueva comunidad</h5>
        <button type="button" class="btn-close" (click)="cerrarModal('modalNewCommunity')" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="addCommunity()">
          <div class="mb-3">
            <label for="address" class="form-label">Dirección</label>
            <input type="text" id="address" name="address" class="form-control" [(ngModel)]="newCommunity.address"
              required>
          </div>

          <div class="mb-3">
            <label for="postalCode" class="form-label">Código Postal</label>
            <input type="text" id="postalCode" name="postalCode" class="form-control"
              [(ngModel)]="newCommunity.postalCode" required>
          </div>

          <div class="mb-3">
            <label for="elevator" class="form-label">Ascensor</label>
            <select id="elevator" name="elevator" class="form-control" [(ngModel)]="newCommunity.elevator">
              <option [ngValue]="true">Sí</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="numFlats" class="form-label">Número de Plantas</label>
            <input type="number" id="numFlats" name="numFlats" class="form-control" [(ngModel)]="newCommunity.numFlats"
              required min="0">
          </div>

          <div class="mb-3">
            <label for="numparkings" class="form-label">Número de Parkings</label>
            <input type="number" id="numparkings" name="numparkings" class="form-control"
              [(ngModel)]="newCommunity.numparkings" required min="0">
          </div>

          <div class="mb-3">
            <label for="numStorageRooms" class="form-label">Número de Trasteros</label>
            <input type="number" id="numStorageRooms" name="numStorageRooms" class="form-control"
              [(ngModel)]="newCommunity.numStorageRooms" required min="0">
          </div>

          <div class="mb-3">
            <label for="reducedMobilityAccess" class="form-label">Acceso Movilidad Reducida</label>
            <select id="reducedMobilityAccess" name="reducedMobilityAccess" class="form-control"
              [(ngModel)]="newCommunity.reducedMobilityAccess">
              <option [ngValue]="true">Sí</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>

          <!-- Cuenta Bancaria (Opcional) -->
          <div class="mb-3">
            <label for="bankAccount" class="form-label">Número de Cuenta Bancaria</label>
            <input type="text" id="bankAccount" name="bankAccount" class="form-control"
              [(ngModel)]="newCommunity.bankAccountNumber">
          </div>
          <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
            <span class="sr-only">Cargando...</span>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- MODAL DE DETALLES DE LA COMUNIDAD -->
<div class="modal fade" id="modalCommunityDetails" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">
          Detalles de la Comunidad
        </h5>
        <button type="button" class="btn-close" (click)="cerrarModal('modalCommunityDetails')"
          aria-label="Cerrar"></button>
      </div>

      <div class="modal-body">
        <div *ngIf="selectedCommunity">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">
                <span *ngIf="!isEditMode">{{ selectedCommunity.address }}</span>
                <input *ngIf="isEditMode" [(ngModel)]="selectedCommunity.address" class="form-control" />
              </h5>

              <p class="card-text">
                <strong>Código Postal:</strong>
                <span *ngIf="!isEditMode">{{ selectedCommunity.postalCode }}</span>
                <input *ngIf="isEditMode" [(ngModel)]="selectedCommunity.postalCode" class="form-control" />
              </p>

              <p class="card-text">
                <strong>Ascensor:</strong>
                <span *ngIf="!isEditMode">{{ selectedCommunity.elevator ? 'Sí' : 'No' }}</span>
                <select *ngIf="isEditMode" [(ngModel)]="selectedCommunity.elevator" class="form-control">
                  <option [ngValue]="true">Sí</option>
                  <option [ngValue]="false">No</option>
                </select>
              </p>

              <!-- Añadimos los botones "Ver" a continuación de los campos -->
              <div class="d-flex justify-content-between">
                <span><strong>Nº Viviendas:</strong> {{ selectedCommunity.numFlats }}</span>
                <div>
                  <button class="btn btn-outline-info btn-sm" (click)="verMasDetalles('flats')">Ver</button>
                  <button class="btn btn-outline-success btn-sm" (click)="openModalFlat()">Añadir</button>
                </div>
              </div>

              <div class="d-flex justify-content-between">
                <span><strong>Parkings:</strong> {{ selectedCommunity.numparkings }}</span>
                <div>
                  <button class="btn btn-outline-info btn-sm" (click)="verMasDetalles('parkings')">Ver</button>
                  <button class="btn btn-outline-success btn-sm" (click)="openModalParking()">Añadir</button>
                </div>
              </div>

              <div class="d-flex justify-content-between">
                <span><strong>Trasteros:</strong> {{ selectedCommunity.numStorageRooms }}</span>
                <div>
                  <button class="btn btn-outline-info btn-sm" (click)="verMasDetalles('storageroom')">Ver</button>
                  <button class="btn btn-outline-success btn-sm" (click)="openModalStorage()">Añadir</button>
                </div>
              </div>

              <p class="card-text">
                <strong>Acceso movilidad reducida:</strong>
                <span *ngIf="!isEditMode">{{ selectedCommunity.reducedMobilityAccess ? 'Sí' : 'No' }}</span>
                <select *ngIf="isEditMode" [(ngModel)]="selectedCommunity.reducedMobilityAccess" class="form-control">
                  <option [ngValue]="true">Sí</option>
                  <option [ngValue]="false">No</option>
                </select>
              </p>
              <div class="d-flex justify-content-between">
                
      
              <p class="card-text">
                <span><strong>Cuenta Bancaria:</strong></span>
                <span *ngIf="!isEditMode">{{ selectedCommunity.bankAccountNumber }}</span>
                <input *ngIf="isEditMode" [(ngModel)]="selectedCommunity.bankAccountNumber" class="form-control" /> 
              </p>
              <button class="btn btn-outline-success btn-sm" (click)="openInvoice(selectedCommunity.id)">Recibos</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button *ngIf="isEditMode" class="btn btn-success" (click)="saveChanges()">Guardar cambios</button>
        <button class="btn btn-outline-primary btn-sm" (click)="isEditMode = !isEditMode">
          {{ isEditMode ? 'Cancelar' : 'Editar' }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="cerrarModal('modalCommunityDetails')">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Flat -->
<div class="modal fade" id="modalFlat" tabindex="-1" aria-labelledby="modalFlatLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalFlatLabel">Añadir Vivienda</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="saveFlat()">
          <div class="mb-3">
            <label for="refFlat" class="form-label">Referencia Catastral</label>
            <input type="text" id="refFlat" [(ngModel)]="newFlat.cadastralReference" name="refFlat" class="form-control"
              required>
          </div>

          <div class="mb-3">
            <label for="sqmFlat" class="form-label">Metros Cuadrados</label>
            <input type="number" id="sqmFlat" [(ngModel)]="newFlat.squareMeters" name="sqmFlat" class="form-control"
              required>
          </div>

          <div class="mb-3">
            <label for="floorFlat" class="form-label">Piso</label>
            <input type="number" id="floorFlat" [(ngModel)]="newFlat.floorNumber" name="floorFlat" class="form-control"
              required>
          </div>

          <div class="mb-3">
            <label for="letterFlat" class="form-label">Letra</label>
            <input type="text" id="letterFlat" [(ngModel)]="newFlat.letter" name="letterFlat" class="form-control"
              required>
          </div>

          <div class="mb-3">
            <label for="roomsFlat" class="form-label">Número de Habitaciones</label>
            <input type="number" id="roomsFlat" [(ngModel)]="newFlat.roomCount" name="roomsFlat" class="form-control"
              required>
          </div>

          <div class="mb-3">
            <label for="bathsFlat" class="form-label">Número de Baños</label>
            <input type="number" id="bathsFlat" [(ngModel)]="newFlat.bathroomCount" name="bathsFlat"
              class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="communityNameFlat" class="form-label">Nombre de Comunidad</label>
            <input type="text" id="communityNameFlat" [(ngModel)]="newFlat.communityName" name="communityNameFlat"
              class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="ownerDniFlat" class="form-label">DNI del Propietario</label>
            <input type="text" id="ownerDniFlat" [(ngModel)]="newFlat.ownerDni" name="ownerDniFlat" class="form-control"
              required>
          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>

    </div>
  </div>
</div>



<!-- Modal Parking -->
<div class="modal fade" id="modalParking" tabindex="-1" aria-labelledby="modalParkingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalParkingLabel">Añadir Parking</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="saveParking()">
          <div class="mb-3">
            <label for="refParking" class="form-label">Referencia Catastral</label>
            <input type="text" id="refParking" [(ngModel)]="newParking.cadastralReference" name="refParking"
              class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="sqmParking" class="form-label">Metros Cuadrados</label>
            <input type="number" id="sqmParking" [(ngModel)]="newParking.squareMeters" name="sqmParking"
              class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="numParking" class="form-label">Número de Plaza</label>
            <input type="number" id="numParking" [(ngModel)]="newParking.num" name="numParking" class="form-control"
              required>
          </div>

          <div class="mb-3">
            <label for="communityNameParking" class="form-label">Nombre de Comunidad</label>
            <input type="text" id="communityNameParking" [(ngModel)]="newParking.communityName" name="communityNameParking"
              class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="ownerDniParking" class="form-label">DNI del Propietario</label>
            <input type="text" id="ownerDniParking" [(ngModel)]="newParking.ownerDni" name="ownerDniParking" class="form-control"
              required>
          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- Modal StorageRoom -->
<div class="modal fade" id="modalStorage" tabindex="-1" aria-labelledby="modalStorageLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalStorageLabel">Añadir Trastero</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="saveStorage()">
          <div class="mb-3">
            <label for="refStorage" class="form-label">Referencia Catastral</label>
            <input type="text" id="refStorage" [(ngModel)]="newStorage.cadastralReference" name="refStorage"
              class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="sqmStorage" class="form-label">Metros Cuadrados</label>
            <input type="number" id="sqmStorage" [(ngModel)]="newStorage.squareMeters" name="sqmStorage"
              class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="numStorage" class="form-label">Número de Trastero</label>
            <input type="number" id="numStorage" [(ngModel)]="newStorage.storageNumber" name="numStorage"
              class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="communityNameStorageRoom" class="form-label">Nombre de Comunidad</label>
            <input type="text" id="communityNameStorageRoom" [(ngModel)]="newStorage.communityName" name="communityNameStorageRoom"
              class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="ownerDniStorageRoom" class="form-label">DNI del Propietario</label>
            <input type="text" id="ownerDniStorageRoom" [(ngModel)]="newStorage.ownerDni" name="ownerDniStorageRoom" class="form-control"
              required>
          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>

    </div>
  </div>
</div>